@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Shared/_ConfirmLayout.cshtml";
}
<div class="col-sm-12 page-error">
    <div class="error-number text-red">
        500
    </div>
    <div class="error-details col-sm-6 col-sm-offset-3">
        <h3>Oops! You are stuck at 500</h3>
        <p class="text-danger">You do not have access to this resource.</p>
    </div>
</div>
