@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_ConfirmLayout.cshtml";
}

<div class="col-sm-12 page-error">
    <div class="error-number text-green">
        200
    </div>
    <div class="error-details col-sm-6 col-sm-offset-3">
        <h3>Success! You are at 200</h3>
        <p class="text-green">
            Please check your email to reset your password.
        </p>
    </div>
</div>
