@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";

}

    <form id="account" class="form-login" method="post">
        <fieldset>
            <legend>
                Sign in to your account
            </legend>
            <p>
                Please enter your name and password to log in.
            </p>
            <div asp-validation-summary="All" class="text-small text-danger"></div>
            <br />
            <div class="form-group">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <span class="input-icon">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                    <i class="fa fa-user"></i>
                </span>
            </div>
            <div class="form-group form-actions">
                <span asp-validation-for="Input.Password" class="text-small text-danger"></span>
                <span class="input-icon">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <i class="fa fa-lock"></i>
                    <a class="forgot" href="./ForgotPassword">
                        I forgot my password
                    </a>
                </span>
            </div>
            <div class="form-actions">
                <div class="checkbox clip-check check-primary">
                    <input type="checkbox" id="remember" value="1">
                    <label for="remember">
                        Keep me signed in
                    </label>
                </div>
                <button type="submit" class="btn btn-primary pull-right">
                    Login <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </fieldset>
    </form>
    <!-- start: COPYRIGHT -->
    @*<div class="row">
            <div class="col-md-4">
                <section>
                    <form id="account" method="post">
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>

        </div>*@

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

