@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "~/Views/Shared/_ConfirmLayout.cshtml";
}


@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="col-sm-12 page-error">
            <div class="error-number text-gree">
                200
            </div>
            <div class="error-details col-sm-6 col-sm-offset-3">
                <h3>Successful! You are at 200</h3>
                <p class="text-danger">
                    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                </p>
            </div>
        </div>

    }
    else
    {

        <div class="col-sm-12 page-error">
            <div class="error-number text-green">
                200
            </div>
            <div class="error-details col-sm-6 col-sm-offset-3">
                <h3>Success! You are at 200</h3>
                <p class="text-danger">  Please check your email to confirm your account.</p>
            </div>
        </div>
    }
}
