@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <a href="/Home/Index">Home </a>/ Register
        </div>
    </div>
</section>

<div class="container-fluid container-fullw bg-white">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-12">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" class="form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default next-step btn-wide pull-right">
                        Update password <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
