<div class="sidebar app-aside" id="sidebar">
    <div class="sidebar-container perfect-scrollbar">
        <nav>     
        
            <!-- start: MAIN NAVIGATION MENU -->
            <div class="navbar-title">
                <span>Main Navigation</span>
            </div>
            <ul class="main-navigation-menu">

                @if (ViewContext.HttpContext.User.IsInRole("SystemAdmin"))
                {
                    <li class="active open">
                        <a href="/Home/Index">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-home"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Dashboard </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-settings"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Student</span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/Student/Index">
                                    <span class="title"> Student Home </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-layout-grid2"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Teacher </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/Teacher/Index">
                                    <span class="title">Teacher Home</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-pencil-alt"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Parents </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/Parent/Index">
                                    <span class="title">Parent Home</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-user"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Accademic Syllabus </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/Grade/Index">
                                    <span class="title"> Add Grade(s) </span>
                                </a>
                            </li>
                            <li>
                                <a href="/Subject/Index">
                                    <span class="title"> Add Modules</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="/Invoice/Index">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-clipboard"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Finance </span>
                                </div>
                            </div>
                        </a>
                    </li>
                }

                @if (ViewContext.HttpContext.User.IsInRole("Student"))
                {
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-layers-alt"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Student Admin </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">

                            <li>
                                <a href="/StudentAdmin/Student/Index">
                                    <span class="title">Student Admin</span>
                                </a>
                            </li>
                            <li>
                                <a href="/StudentAdmin/Student/StudentInformation">
                                    <span class="title">MyInformation</span>
                                </a>
                            </li>
                            <li>
                                <a href="/StudentAdmin/Student/Assignment">
                                    <span class="title">MyAssignment</span>
                                </a>
                            </li>
                            <li>
                                <a href="/StudentAdmin/Student/Exam">
                                    <span class="title">MyExams</span>
                                </a>
                            </li>
                            <li>
                                <a href="/StudentAdmin/Student/Finance">
                                    <span class="title">MyFinance</span>
                                </a>
                            </li>
                            <li>
                                <a href="/StudentAdmin/Student/StudentMessage">
                                    <span class="title">MyMessages</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
                {
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-layers-alt"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Teacher Admin </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                    <span class="title">Student Information</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="title">Assignment</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="title">Exams</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="title">Student Finance</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="title">Messages</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (ViewContext.HttpContext.User.IsInRole("Parent"))
                {
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-layers-alt"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Parent Admin </span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/ParentAdmin/Parent/ParentInformation">
                                    <span class="title">Parent Information</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ParentAdmin/Parent/StudentAssignment">
                                    <span class="title">Assignment</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ParentAdmin/Parent/StudentExam">
                                    <span class="title">Exams</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ParentAdmin/Parent/StudentFinancial">
                                    <span class="title">Student Finance</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ParentAdmin/Parent/ParentMessage">
                                    <span class="title">Messages</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (ViewContext.HttpContext.User.IsInRole("SystemAdmin"))
                {
                    <li>
                        <a href="javascript:void(0)">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="ti-settings"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Communication</span><i class="icon-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/SendCommunication/Index">
                                    <span class="title"> Send Email </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="title"> Sent Mails </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
            <!-- end: MAIN NAVIGATION MENU -->
            <!-- start: CORE FEATURES -->
            <div class="navbar-title">
                <span>Core Features</span>
            </div>
            <ul class="folders">

                <li>
                    <a href="#">
                        <div class="item-content">
                            <div class="item-media">
                                <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                            </div>
                            <div class="item-inner">
                                <span class="title"> School events </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="item-content">
                            <div class="item-media">
                                <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i> </span>
                            </div>
                            <div class="item-inner">
                                <span class="title"> System Documentation </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- end: CORE FEATURES -->
            <!-- start: DOCUMENTATION BUTTON -->
            <div class="wrapper">
                <a href="#" class="button-o">
                    <i class="ti-help"></i>
                    <span>Documentation</span>
                </a>
            </div>
            <!-- end: DOCUMENTATION BUTTON -->
        </nav>
    </div>
</div>
