
@{
    ViewData["Title"] = "Parent"; 
}


<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Create Parents</h2>
                    <p class="text-small">
                        To add new parent to the system.
                    </p>
                    <p class="links cl-effect-1">
                        <a href="/Parent/Create">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-home fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Manage Parents</h2>
                    <p class="text-small">
                        Manage active and inactive parents on the system.
                    </p>
                    <p class="cl-effect-1">
                        <a href="/Parent/List">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-unlock fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Parent logins</h2>
                    <p class="text-small">
                        To manage parent to login's and assign parent's to the system.
                    </p>
                    <p class="links cl-effect-1">
                        <a href="/Parent/AssignParent">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FEATURED BOX LINKS -->