@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Assignment</h2>
                    <p class="text-small">
                        Asign student assignment
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Exams</h2>
                    <p class="text-small">
                        Assign student Exam
                    </p>
                    <p class="cl-effect-1">
                        <a href="#">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Emails</h2>
                    <p class="text-small">
                        Send Email Message regard assignments
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Teacher Messages</h2>
                    <p class="text-small">
                        Teacher Emails
                    </p>
                    <p class="links cl-effect-1">
                        <a href="/TeacherAdmin/Teacher/TeacherMessage">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FEATURED BOX LINKS -->