@{
    ViewData["Title"] = "Teacher";
}
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Create Teacher</h2>
                    <p class="text-small">
                        To add new teacher to the system.
                    </p>
                    <p class="links cl-effect-1">
                        <a href="/Teacher/Create">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Manage Teachers</h2>
                    <p class="text-small">
                        Manage active and inactive teachers on the system.
                    </p>
                    <p class="cl-effect-1">
                        <a href="/Teacher/List">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-lock fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Teachers Logins</h2>
                    <p class="text-small">
                        To manage teacher to login's and assign teacher's to the system.
                    </p>
                    <p class="links cl-effect-1">
                        <a href="/Teacher/AssignTeacher">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FEATURED BOX LINKS -->