
<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<!-- start: HEAD -->
<head>
    <title>School Management Sytem</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="School Management System" />
    <meta content="" name="Tsholofelo makhoana" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/cssjs/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/cssjs/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/cssjs/vendor/themify-icons/themify-icons.min.css">
    <link href="~/cssjs/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/cssjs/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="~/cssjs/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/cssjs/assets/css/styles.css">
    <link rel="stylesheet" href="~/cssjs/assets/css/plugins.css">
    <link rel="stylesheet" href="~/cssjs/assets/css/themes/theme-3.css" id="skin_color" />

</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="login">
    <!-- start: LOGIN -->
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="logo margin-top-30">
                <img src="~/cssjs/assets/images/logo.png" alt="Clip-Two" />
            </div>
            <div class="box-login">
                @RenderBody()

                <div class="pull-left">
                    &copy; <span class="current-year"></span><span class="text-bold text-uppercase">SchoolManagementSystem </span>. <span>TechKnight Team</span>
                </div>
            </div>
        </div>
    </div>

    <script src="~/cssjs/vendor/jquery/jquery.min.js"></script>
    <script src="~/cssjs/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/cssjs/vendor/modernizr/modernizr.js"></script>
    <script src="~/cssjs/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/cssjs/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/cssjs/vendor/switchery/switchery.min.js"></script>

    <script src="~/cssjs/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/cssjs/assets/js/main.js"></script>
    <script src="~/cssjs/assets/js/login.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            Login.init();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
<!-- end: BODY -->
</html>