@{
    ViewData["Title"] = "Student";
}


<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Create  Student</h2>
                    <p class="text-small">
                        To add users, you need to be signed in as the super user.
                    </p>
                    <p class="links cl-effect-1">
                        <a href="/Student/Create">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-server fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Manage Students</h2>
                    <p class="text-small">
                        Manage active and inactive student on the system.
                    </p>
                    <p class="cl-effect-1">
                        <a href="/Student/List">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-users fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Student Logins</h2>
                    <p class="text-small">
                        To manage student to login's and assign student to the system.
                    </p>
                    <p class="links cl-effect-1">
                        <a href="/Student/AssignStudent">
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FEATURED BOX LINKS -->